.login-form {
  height: auto;
  background-color: #F0EDED;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 300px;
}

.dark-mode .login-form{
  background-color: #444;
}

.login-form-container{
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 10em auto;
  align-items: center;
  height: 100vh;
}

.login-form input {
  margin-bottom: 1em;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.dark-mode input{
  color: white;
  background-color: #444;
  border: 1px solid #969696;
}

.login-form input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.login-form .error-message {
  color: red;
  font-size: 14px;
  margin-top: -5px;
}

.login-form .submit-button {
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.login-form .submit-button:hover {
  background-color: #45a049;
}

.register-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.register-link p {
  margin: 0;
  font-size: 14px;
}

.create-account-button {
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.create-account-button:hover {
  background-color: #45a049;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .login-form {
    width: 80%;
    max-width: 400px;
    padding: 25px;
  }

  .login-form input {
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
  }

  .login-form input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }

  .login-form .submit-button {
    padding: 14px;
    font-size: 18px;
    width: 100%;
  }

  .register-link {
    margin-top: 40px;
  }

  .register-link p {
    font-size: 16px;
  }

  .create-account-button {
    font-size: 18px;
    padding: 14px;
  }
}