.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #F0EDED;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 220px;
  margin: 0 auto;
}

.login-form input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}

.login-form input:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.login-form .error-message {
  color: red;
  font-size: 14px;
  margin-top: -5px;
}

.login-form .submit-button {
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.login-form .submit-button:hover {
  background-color: #45a049;
}

.register-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.register-link p {
  margin: 0;
  font-size: 14px;
}

.create-account-button {
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.create-account-button:hover {
  background-color: #45a049;
}
