#temperature-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90vw;
    justify-content: center;
    gap: 20px;
    margin-top: 20%;
}

.temperature-component-arrow {
    align-self: flex-start;
    margin-top: 2em;
    margin-left: 2em;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.temperature-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.temperature-button, .temperature-button-equal {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 11px;
    border: none;
    width: 35vw;
    font-size: 16px;
    cursor: pointer;
    background-color: #5EA71E;
    color: white;
    transition: background-color 0.3s ease;
}

.temperature-button {
    width: 15vw;
}

/* Estilo para el botón activo */
.temperature-button.active, .temperature-button-equal.active {
    background-color: #3C750F; /* Color más oscuro */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
    transform: scale(1.05); /* Efecto de agrandamiento sutil */
}


.temperature-display {
    width: 20vw;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    margin-bottom: 20px;
}

.temperature-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 90%;
    position: relative;
}

.temperature-slider input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 16px;
    appearance: none;
    height: 8px;
    background: #5EA71E;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.temperature-slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #52921B;
    cursor: pointer;
}

.temperature-slider input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #52921B;
    cursor: pointer;
}

.temperature-limits {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 12px;
}

.temperature-limits span {
    font-size: 14px;
}

.temperature-options {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 20px;
    align-items: flex-start;
    width: 90%;
}

.temperature-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.temperature-option input {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.temperature-option span {
    font-size: 16px;
    margin-right: auto;
}

.temperature-apply{
    display: flex;
    margin-top: 1em;
}

.temperature-apply-button{
    padding: 15px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    border: none;
    width: 35vw;
    background-color: #5EA71E;
}
