#temperature-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 90vw;
  justify-content: center;
  gap: 20px;
  margin-top: -1em;
}

#temperature-component-container.dark-mode {
  background-color: #333;
  color: #f9f9f9;
}
.temperature-component-arrow {
  cursor: pointer;
  align-self: flex-start;
  margin-top: 2em;
  margin-left: 2em;
}
.temperature-component-arrow-icon {
  font-size: 24px;
  color: #333;
}
h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.temperature-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.temperature-button,
.temperature-button-equal {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 11px;
  border: none;
  width: 35vw;
  font-size: 16px;
  cursor: pointer;
  background-color: #5ea71e;
  color: white;
  transition: background-color 0.3s ease;
}
.temperature-button {
  width: 15vw;
}
.temperature-button.active,
.temperature-button-equal.active {
  background-color: #3c750f;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
.temperature-display {
  width: 20vw;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-bottom: 20px;
}
.temperature-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 90%;
  position: relative;
}
.temperature-slider input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  border-radius: 16px;
  appearance: none;
  height: 8px;
  background: #5ea71e;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.temperature-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #52921b;
  cursor: pointer;
}
.temperature-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #52921b;
  cursor: pointer;
}
.temperature-limits {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 20px;
  font-size: 12px;
}
.temperature-limits span {
  font-size: 14px;
}
.temperature-options {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  gap: 20px;
  align-items: flex-start;
  width: 90%;
}
.temperature-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.temperature-option input {
  width: 20px;
  height: 20px;
  margin-left: auto;
}
.temperature-option span {
  font-size: 16px;
  margin-right: auto;
}
.temperature-apply {
  display: flex;
  margin-top: 1em;
}
.temperature-apply-button {
  padding: 15px;
  border-radius: 30px;
  font-size: 15px;
  color: white;
  border: none;
  width: 35vw;
  background-color: #5ea71e;
}

/* Ajustes para pantallas de tablet entre 768px y 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  #temperature-component-container {
    width: 85vw;
    margin-top: 10%;
  }

  .temperature-component-arrow {
    margin-left: 1.5em;
    margin-top: 1.5em;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .temperature-controls {
    flex-direction: column;
    gap: 15px;
  }

  .temperature-button,
  .temperature-button-equal {
    width: 35vw;
    padding: 12px;
    font-size: 18px;
  }

  .temperature-button.active,
  .temperature-button-equal.active {
    transform: scale(1.05);
  }

  .temperature-display {
    width: 30vw;
    font-size: 18px;
  }

  .temperature-slider input[type="range"] {
    height: 10px;
  }

  .temperature-slider input[type="range"]::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
  }

  .temperature-slider input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
  }

  .temperature-limits span {
    font-size: 14px;
  }

  .temperature-apply-button {
    width: 35vw;
    padding: 15px;
    font-size: 16px;
  }

  .temperature-slider {
    flex-direction: column;
    gap: 15px;
  }
}
