#container-accesibility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0 auto;
}

#container-accesibility.dark-mode {
  background-color: #333; /* Negro no muy oscuro */
  color: #fff;
}

.arrow-container {
  margin-top: -10em;
  align-self: flex-start;
  margin-left: 2em;
}

.accesibility-arrow {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  transition: color 0.3s ease, transform 0.2s ease;
}

.dark-mode .accesibility-arrow {
  color: #ffffff;
}

.accesibility-arrow:focus,
.accesibility-arrow:hover {
  color: #007acc; /* Mejor contraste para el enfoque */
  transform: scale(1.1); /* Efecto visual para hover/focus */
  outline: 2px solid #007acc; /* Resaltado al navegar con teclado */
}

#container-accesibility.dark-mode .accesibility-p {
  color: #fff;
}

.accesibility-text {
  margin-top: 0.5em;
  margin-bottom: 5em;
  text-align: center; /* Mejor alineación del texto */
}

.accesibility-p {
  font-size: 18px;
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 1.6; /* Mejora la legibilidad */
}

.accesibility-size {
  border-bottom: 1px solid green;
  width: 50vw;
  text-align: center;
}

.accesibility-tuto {
  border-bottom: 1px solid green;
  width: 50vw;
  text-align: center;
  margin-top: 10px;
}

/* Estilos para el selector de idioma con un desplegable */
.language-selector {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.language-selector label {
  font-size: 18px;
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 5px;
}

.language-selector select {
  padding: 10px;
  font-size: 18px;
  color: #333;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  width: 200px; /* Ajuste del tamaño del desplegable */
}

.language-selector select:hover {
  background-color: #f1f1f1;
}

.language-selector select:focus {
  border-color: #45a049;
  outline: none;
}

/* Media query para pantallas más grandes */
.accesibility-dark-mode {
  margin-top: 0.5em;
}

@media only screen and (min-width: 768px) {
  .arrow-container {
    align-self: flex-start;
    margin-left: 6em;
    margin-top: -9em;
  }

  .accesibility-text {
    margin-top: 2em;
    font-size: 30px;
    margin-bottom: 3em;
  }

  .accesibility-p {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .accesibility-size {
    border-bottom: 1px solid green;
    width: 50vw;
    text-align: center;
  }

  /* Estilos para el selector de idioma en pantallas grandes */
  .language-selector select {
    font-size: 22px;
    width: 250px; /* Ajuste para pantallas más grandes */
  }
}
