html,
body {
  margin: 0;
  box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cultive {
  width: 100%;
  height: auto;
}
