.efficiency-energy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
  position: relative;
  margin-bottom: 3em;
}

.efficiency-back-button {
  margin-top: 6em;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  position: absolute;
  left: 30px;
  z-index: 1;
  outline: none; /* Elimina el contorno predeterminado */
}

.dark-mode .efficiency-back-button {
  color: #ffffff;
}

.efficiency-back-button:focus {
  outline: 3px solid #4caf50; /* Agrega un contorno verde al foco para mejorar la accesibilidad */
}

.efficiency-back-button .back-icon {
  font-size: 24px;
}

.efficiency-energy-header {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.efficiency-energy-txt {
  background-color: #e9e9e9;
  color: #333;
  border-radius: 15px;
  padding: 0 30px;
  width: 85%;
  max-width: 800px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-size: 1.1em;
  margin-top: 3em;
  line-height: 1.6;
  text-align: center;
}

.dark-mode .efficiency-energy-txt {
  background-color: #444;
  color: #ffffff;
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
}

.efficiency-energy-header h2 {
  font-size: 2em;
  color: #000000;
}

.dark-mode .efficiency-energy-header h2 {
  color: #ffffff;
}

.efficiency-energy-txt h3 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #000000;
  font-weight: bold;
}

.dark-mode .efficiency-energy-txt h3 {
  color: #ffffff;
}

.efficiency-energy-txt p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 20px;
}

.dark-mode .efficiency-energy-txt p {
  color: #c4c4c4;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .efficiency-energy-container {
    padding: 20px;
    max-width: 85%;
    margin: 20px auto;
    margin-top: 80px;
  }

  .efficiency-energy-header {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  .efficiency-energy-header h2 {
    font-size: 2.2em;
  }

  .efficiency-energy-txt {
    padding: 20px;
    font-size: 1.2em;
  }

  .efficiency-energy-txt h3 {
    font-size: 1.7em;
  }

  .efficiency-energy-txt p {
    font-size: 1.1em;
  }
}
