html,
body {
  margin: 0;
  box-sizing: border-box;
}

.add-plot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 18em auto;
  height: 55vh;
}

.p-container {
  color: grey;
  font-size: 20px;
  margin: 0;
}

.plusCircleOutlined {
  width: 100%;
  max-width: 30vw;
}

#add-plot-cultive-container{
  
}

.add-plot-cultve-img{
}