/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del formulario */
.view-edit-rule-form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

/* Título */
.view-edit-rule-form-container h2 {
    margin-top: 0;
    text-align: center;
    color: green;
}

/* Etiquetas y campos de selección */
.view-edit-rule-form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.view-edit-rule-form-container select,
.view-edit-rule-form-container input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botones */
.view-edit-rule-form-container button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-edit-rule-form-container button:hover {
    background-color: rgb(0, 85, 0);
}

/* Botón de eliminar condición */
.view-delete-condition-button {
    background-color: #dc3545;
    margin-left: 10px;
}

.view-delete-condition-button:hover {
    background-color: #c82333;
}

/* Condiciones */
.view-edit-rule-conditions h3 {
    margin-top: 0;
    color: #007BFF;
}

.view-edit-rule-conditions ul {
    list-style-type: none;
    padding-left: 0;
}

.view-edit-rule-conditions ul li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-edit-rule-conditions ul li input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Otros estilos */
.view-edit-rule-conditions-button {
    display: block;
    margin: 10px 0;
    background-color: #28a745;
    color: #fff;
    padding: 8px 12px;
}

.view-edit-rule-conditions-button:hover {
    background-color: #218838;
}
