html,
body{
  margin: 0;
  box-sizing: border-box;
}

.headerr {
  width: 100vw;
  justify-content: center;
  display: flex;
  align-items: center;
}

.fieldflow {
    width: 65vw;
    height: auto;
  }
