#sensor-enla-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.dark-mode #sensor-enla-container {
  background-color: #333; 
  color: white; 
}

.sensor-enla-button-arrow {
  align-self: flex-start;
  margin-left: 1em;
  margin-top: -10em;
  margin-bottom: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

/* Estilos para el modo oscuro */
.dark-mode .sensor-enla-button-arrow {
  color: white; /* Texto claro en modo oscuro */
  background-color: #555; /* Fondo oscuro */
}

.enla-title {
  margin-top: 1em;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para el modo oscuro */
.dark-mode .enla-title {
  color: white; /* Texto claro en modo oscuro */
}

.linked-sensors-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 90vw;
  align-items: center;
  gap: 15px;
}

.sensor-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 95%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); 
  transition: transform 0.2s, box-shadow 0.2s;
}

.dark-mode .sensor-item {
  background-color: #555; 
  color: white; 
}

.sensor-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.sensor-item p {
  margin: 0;
  font-size: 16px;
  color: #555;
  flex-grow: 1; 
}

.dark-mode .sensor-item p {
  color: white; 
}

.sensor-item strong {
  color: #333;
  font-weight: 600;
}

.dark-mode .sensor-item strong {
  color: white; /
}

.delete-sensor-button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #3f790e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.no-sensors-message {
  text-align: center;
  font-size: 16px;
  color: #999;
  margin-top: 20px;
}

.dark-mode .no-sensors-message {
  color: #ccc; 
}

@media (min-width: 768px) and (max-width: 1024px) {
  .sensor-item {
      max-width: 70vw; 
  }

  .sensor-enla-button-arrow {
      margin-top: -15em;
      margin-left: 5em; 
  }

  .linked-sensors-list {
    width: 100%;
    max-width: 60vw;
  }
}

@media (min-width: 1025px) {
  .linked-sensors-list {
      max-width: 800px; 
  }

  .sensor-enla-button-arrow {
      margin-left: 10em;
  }
}
