#irrigation-frecuency-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 90vw;
  }
  
  .irrigation-frecuency-calendar {
    display: flex;
    gap: 20px;
  }

  .irrigation-frecuency-calendar-icon{
    width: 7vw;
  }
  
  .irrigation-frecuency-day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .irrigation-frecuency-calendar-icon {
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .irrigation-frecuency-calendar-icon.selected {
    color: #5EA71E;
  }
  
  .irrigation-frecuency-day-label {
    font-size: 14px;
    color: black;
    text-align: center;
  }
  
  .irrigation-frecuency-arrow {
    align-self: flex-start;
    margin-top: 2em;
    margin-left: 1em;
  }
  
  .irrigation-frecuency-title {
    margin-top: 1em;
  }
  
  .irrigation-frecuency-p {
    margin-top: 2em;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 1.5em;
  }
  
  .irrigation-frecuency-p2 {
    margin-top: 3em;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 1em;
  }
  
  .irrigation-frecuency-clock-img {
    width: 50vw;
  }
  
  .irrigation-frecuency-pro {
    border: none;
    font-size: 17px;
    font-weight: bold;
    margin-top: 3em;
    border-radius: 16px;
    background-color: #5ea71e;
    padding: 12px;
    width: 60vw;
  }
  