@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.notifications-component-notification.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

#notifications-component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  height: 100vh;
  width: 80vw;
  overflow-y: auto;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 40px;
}

.dark-mode #notifications-component-container {
  background-color: #333;
  color: white;
}

.dark-mode .notifications-component-button-arrow {
  color: white;
  background-color: #444;
}

.notifications-component-notification {
  width: 80vw;
  max-width: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: fadeIn 0.5s ease-out;
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.dark-mode .notifications-component-notification {
  color: white;
  background-color: #333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.notifications-component-notification.alert {
  background-color: #f44336;
  color: white;
}

.notifications-component-notification.info {
  background-color: #2196f3;
}

.notifications-component-notification.success {
  background-color: #4caf50;
}

.notifications-component-notification.warning {
  background-color: #ff9800;
}

.notifications-component-p {
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  flex-grow: 1;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
}

.dark-mode .notifications-component-p {
  color: white;
}

@media only screen and (min-width: 768px) {
  .notifications-component-notification {
    width: 50vw;
  }
  .dark-mode .notifications-component-notification {
    width: 50vw;
  }
}

.notifications-component-h1 {
  font-size: 28px;
  color: #333;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.dark-mode .notifications-component-h1 {
  color: white;
}

.notifications-component-button-arrow {
  margin-top: 2em;
  margin-bottom: 1em;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  color: #000;
  display: flex;
  margin-right: 12em;
}

.notifications-component-button-arrow:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.dark-mode .notifications-component-button-arrow {
  color: white;
  background-color: #333;
}

.dark-mode .notifications-component-button-arrow:hover {
  background-color: #444;
}

.notifications-component-button-arrow:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.5);
}

#notifications-component-container::-webkit-scrollbar {
  display: none;
}
