/* Contenedor principal del encabezado */
.crops-header {
  position: relative;
  background-image: url("./images/fondo-details.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

/* Superposición para oscurecer el fondo */
.crops-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1; 
}

/* Contenedor de información del cultivo */
.crop-info {
  position: relative;
  z-index: 2; /* Asegúrate de que el contenido esté encima del overlay */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra todo el contenido en el contenedor */
}

/* Contenedor de la imagen del cultivo */
.crop-image-container {
  display: flex;
  justify-content: center; /* Centra la imagen */
  margin-bottom: 15px; /* Separación entre la imagen del cultivo y el título */
}

/* Imagen del cultivo sin estilos que alteren su tamaño */
.crop-image {
  width: 100px; /* No cambiar el ancho de la imagen */
  height: 70px; /* No cambiar la altura de la imagen */
  max-width: 100%; /* Asegura que la imagen no exceda el contenedor */
}

/* Título del cultivo */
.crop-title {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

/* Contenedor de la gráfica */
.chart-image-container {
  display: flex;
  justify-content: center; /* Centra la gráfica */
  margin-top: 20px; /* Separación entre el título y la gráfica */
}

.chart-image {
  width: 100%; /* Ajusta el tamaño de la gráfica */
  max-width: 400px; /* Establece un tamaño máximo para la gráfica */
  height: auto; /* Mantiene la relación de aspecto de la gráfica */
  object-fit: contain; /* Asegura que la gráfica se ajuste bien dentro del contenedor */
}

/* Estilos del botón de retroceso */
.back-button {
  position: absolute;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 3; /* El botón debe estar por encima de la superposición */
}
