#actuator-container {
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* Estilos para el modo oscuro */
.dark-mode #actuator-container {
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto claro */
}

a {
  text-decoration: none;
}

.actuatorList {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  width: 100%;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid green;
  padding-bottom: 1em;
}

.list img {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.list p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 40px;
  color: black;
}

/* Estilos para el modo oscuro */
.dark-mode .list p {
  color: white; /* Texto claro en modo oscuro */
}

.actuator-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.actuator-buttons .add {
  margin: none;
}

.actuator-buttons .quit {
  width: 46px;
  height: 46px;
}

.enla {
  display: flex;
  margin-top: 2.5em;
}

.enla-p {
  color: white;
  font-size: 15px;
}

.button-enla {
  border-radius: 30px;
  width: 45vw;
  border: none;
  background-color: #5EA71E;
  height: 5vh;
}

/* Estilos para el modo oscuro */
.dark-mode .button-enla {
  background-color: #43a047;
}

.actuator-content-component-img {
  width: 10vw;
  height: auto;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #actuator-container {
    width: 100%;
    max-width: 70vw;
  }

  .actuator-content-component-img {
    width: 4vw;
    height: auto;
  }

  .button-enla {
    border-radius: 30px;
    width: 25vw;
    border: none;
    background-color: #5EA71E;
    height: 5vh;
  }

  .dark-mode .button-enla {
    background-color: #43a047; /* Fondo diferente en modo oscuro */
  }
}
