/* settings-component.css */

#container-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
}

/* Estilos para el modo oscuro */
.dark-mode #container-settings {
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto claro */
}

.settings-arrow-container {
  background: none;
  align-self: flex-start;
  margin-left: 2em;
  margin-bottom: 1em;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
  display: flex;
  align-items: center;
}

.dark-mode .settings-arrow-container {
  color: white; /* Texto claro en modo oscuro */
}

.settings-text {
  margin-top: 1em;
  margin-bottom: 4em;
}

.dark-mode .settings-text {
  color: white; /* Texto claro en modo oscuro */
}

.settings-p {
  color: black; /* Texto negro para el modo claro */
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.dark-mode .settings-p {
  color: white; /* Texto blanco para el modo oscuro */
}

.settings-subp {
  color: #43a047;
  font-weight: bold;
  margin: 5px;
}

.settings-sub {
  font-weight: bold;
}

.settings-noti,
.settings-export,
.settings-actu,
.settings-help,
.settings-rules,
.settings-userc {
  width: 20em;
  border-bottom: 1px solid green;
  margin-bottom: 20px;
}

.dark-mode .settings-noti,
.dark-mode .settings-export,
.dark-mode .settings-actu,
.dark-mode .settings-help,
.dark-mode .settings-rules,
.dark-mode .settings-userc {
  border-bottom: 1px solid green; /* Borde diferente en modo oscuro */
}

.settings-ex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.settings-container-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .settings-arrow-container {
    margin-top: -2em;
    margin-left: 10em;
  }

  .settings-text {
    font-size: 30px;
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .settings-p {
    font-size: 25px;
  }

  .settings-noti,
  .settings-export,
  .settings-actu,
  .settings-help,
  .settings-rules,
  .settings-userc {
    width: 25em;
    border-bottom: 1px solid green;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .settings-arrow-container {
    color: white; /* Texto claro en modo oscuro */
  }

  .settings-p {
    font-size: 30px;
  }
}
