#actual-plot-comp-container{
    width: 100%;
    max-width: 90vw;
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.actual-plot-comp-text{
    font-weight: bold;
    color: black;
}