#actual-plot-comp-container {
    width: 100%;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px auto auto auto;
  }
  
  .actual-plot-comp-text {
    font-weight: bold;
    color: black;
  }
  
  /* Estilos para el modo oscuro */
  .dark-mode .actual-plot-comp-text {
    color: white; /* Texto claro */
  }
  
  @media only screen and (min-width: 768px) {
    .actual-plot-comp-text {
      font-size: 16px;
    }
  }
  
